@import '../01-settings/settings';
@import '../02-tools/tools';

.page {
    text-align: center;

    &__background {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 200px;
        background-image: url(/background.svg);
        background-size: cover;
    }

    &__section {
        margin-top: 25px;
    }

    &__form {
        &--input {
            background-color: transparent;
            color: $color-font;
            border: 2px solid $color-secondary;
            border-radius: 15px;
            height: 40px;
            padding: 10px;
        }

        &--button {
            background-color: $color-primary;
            color: $color-font;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: block;
            margin: 10px auto;

            &:hover {
                background-color: rgba($color: $color-primary, $alpha: 0.75);
            }
        }
    }
}