@import '../01-settings/settings';
@import '../02-tools/tools';

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0; // Undo browser default
}